html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Oxygen', serif; 
}

header {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 10px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 6fr
}

button {
    font-family: inherit;
    font-weight: 900;
    padding: 10px;
    border-radius: 30%;
    background-color: white;
    border-color: black;
}


/* Table styling*/
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.btns, th, td {
    text-align: center;
}

.btns:hover {
    background-color: #ebf090;
}

.btns:active {
    background-color: #36baad;
}

/*form*/
#bookForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100vh;
    padding-left: .5em;
}

#formBox{
    border: solid 1px #dddddd;
}













